_build
TAGS
tags
vgdump
*.swp
*~
\#*#
.\#*
.vscode/
*.gcov
po/messages.mo
po/missing
po/phosh-mobile-settings.pot
debian/files
debian/*.substvars
debian/*debhelper*
debian/phosh-mobile-settings/
debian/tmp/
